@model IEnumerable<IBFree.Models.BigViewModel>

@{
    ViewBag.Title = "MyResults";
}

<h2>My Results</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iritance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symptoms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Severity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.FoodName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Iritance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symptoms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Severity)
        </td>
        <td>
          
            @Html.ActionLink("Details", "Details", new { id=item.ImputId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImputId })
        </td>
    </tr>
}

</table>
