@model IEnumerable<IBFree.Models.BadFood>

@{
    ViewBag.Title = "BadFoodList";
}

<h2>FoodList</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fructan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sorbitol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mannitol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fructose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lactose)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.Image)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fructan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sorbitol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mannitol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fructose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lactose)
        </td>
       
        @*<td>
            <div class="display-field"><img src="@Url.Content(item.Image)" /></div>
        </td>*@
       
    </tr>
}

</table>
