@model IBFree.Models.BadFood

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BadFood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fructan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fructan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sorbitol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sorbitol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mannitol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mannitol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fructose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fructose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lactose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lactose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodChallenge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodChallenge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
